@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,900);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700);

body {
	font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h6 {
	font-family: 'Roboto', sans-serif;
}
h6{
	line-height: 1.3em;
}
footer {
	background-color: #575954;
	padding: 10px;
}
/* Reglas Generales */

.nopad {
	padding: 0 !important;
}
.padit {
	padding: 15px !important;
}
.pad_v {
	padding: 15px 0 !important;
}
.pad_25{
	padding: 25px;
}
.pad_25v{
	padding: 25px 0;
}
.pad_25h{
	padding: 0 25px;
}
.pad_3 {
	padding: 3px;
}
.pad_5_h {
	padding: 0 5px;
}
.pad_5_v {
	padding: 5px 0;
}
.pad_10_h {
	padding: 0 10%;
}
.pad_10_v {
	padding: 10% 0;
}
.pad_10 {
	padding: 10px !important;
}
.pad_h {
	padding: 0 15px !important;
}
.nomargin {
	margin: 0 !important;
}
.margin_all {
	margin: 15px;
}
.margin_v {
	margin: 15px 0 !important;
}
.margin_h {
	margin: 0 15px !important;
}
.margin_1_top {
	margin-top: 1% !important;
}
.margin_1_bottom {
	margin-bottom: 1% !important;
}
.margin_2_top {
	margin-top: 2% !important;
}
.margin_2_bottom {
	margin-bottom: 2% !important;
}
.margin_3_top {
	margin-top: 3% !important;
}
.margin_3_bottom {
	margin-bottom: 3% !important;
}
.margin_5_top {
	margin-top: 5% !important;
}
.margin_5_bottom {
	margin-bottom: 5% !important;
}
.margin_7_top {
	margin-top: 7% !important;
}
.margin_7_bottom {
	margin-bottom: 7% !important;
}
.margin_10_top {
	margin-top: 10% !important;
}
.margin_10_bottom {
	margin-bottom: 10% !important;
}
.margin_1_h {
	margin: 0 1%;
}
.margin_1_v {
	margin: 1% 0;
}
.margin_2_v {
	margin: 2% 0;
}
.margin_2_h {
	margin: 0 2%;
}
.margin_3_v {
	margin: 3% 0;
}
.margin_3_h {
	margin: 0 3%;
}
.margin_5_v {
	margin: 5% 0;
}
.margin_10_top {
	margin-top: 10% !important;
}
.margin_center {
	margin: 0 auto !important;
}
.super_margin_top {
	margin-top: 50px;
}
.full-width {
	width: 100%;
}
.noborder {
	border: none !important;
}
.txt_upper {
	text-transform: uppercase;
}
h5, h4 {
	line-height: 1.3em !important;
}
/* Fin de Reglas Generales */



#top {
	background-color: transparent;
	width: 100%;
}
.margin_pages{
	/*margin-bottom: 50px;*/
	margin-top: 205px;
}
.navbar-nav {
	/*border: 1px solid #D7DCD0;*/
    left: 15%;
    position: absolute;
    text-align: center;
    top: 95px;
    width: 70%;
}
.navbar-nav>li {
    float: none;
    display: inline-block;
}
.nav-top > li > a {
	color: #575954;
	font-size: 14px;
	font-weight: 700;
	padding: 10px 15px;
	text-transform: uppercase;
}
.nav>li>a:focus, .nav>li>a:hover {
	background-color: transparent !important;
	color: #000;
}
.nav-top > li > a.top_blanco {
	border: 3px solid #FFF;
	color: #FFF;
	margin-left: 50px;
}
.nav-top > li > a.active {
	/*color: #497F7B;*/
}
.navbar-brand>img {
	margin: -8px 0 0 5px;
}
.carousel-indicators {
	bottom: 0 !important;
}
.carousel-caption {
	bottom: 0;
	left: 0 !important;
	height: auto;
	width: 100%;
}
.tit_slides {
	background-color: rgba(0,0,0,0.7);
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 18px !important;
	height: 70px;
	line-height: 4rem;
	margin: 0;
	text-transform: uppercase;
}
.carousel-control {
	background: transparent;
	background-image: none !important;
	width: 65px;
    height: 30vw;
    opacity: 0.6;
}
.carousel-control .glyphicon-menu-right, .carousel-control .glyphicon-menu-left {
	color: #fff;
    background-color: transparent;
    border-radius: 25px;
    font-size: 24px;
    width: 50px;
    height: 50px;
    padding: 12px 0 0;
    position: absolute;
    top: 0;
    z-index: 5;
    display: inline-block;
}
.carousel-control .glyphicon-menu-right {
	right: 15%;
	top: auto;
    bottom: 10px;
}
.carousel-control .glyphicon-menu-left {
	left: 15%;
	top: auto;
    bottom: 10px;
}
.logo-smaller {
	width: 70px;
}
.img_slides {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 30vw;
	padding: 5px;
	width: 100%;
}
.txt_blanco {
	color: #fff;
}
.txt_grisos {
	color: #575954;
}
.txt_verde {
	color: #6DB52E;
}
.tit_verde{
	/*background-color: #fff;*/
    color: #6DB52E;
    font-size: 18px !important;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 0;
}
.line_tits{
	display: none;
	/*
	background-color: #575954;
	height: 1px;
	margin-top: 8px;
	position: absolute;
	*/
}
.txt_21 {
	font-size: 21px;
}
a.txt_blanco:hover, a.txt_blanco:focus {
	color: #fff;
}
a.txt_grisos:hover, a.txt_grisos:focus {
	color: #4D4D4D;
}
a.txt_verde:focus, a.txt_ocre:hover {
	color: #5D932F;
}
.img_detalle{
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 25vw;
}
.img_servicio{
	background-repeat: no-repeat;
    background-size: 100%;
    min-height: 28vw;
}
.head_productos{
	background-repeat: no-repeat;
    background-size: 100%;
    min-height: 21vw;
}
.line_down{
	background-color: #ADACAC;
	height:1px;
}
.border_grisos{
	border: 1px solid #1C1C1B;
}
.bg_servicio{
	background-repeat: no-repeat;
    background-size: 100%;
    min-height: 49vw;
}
.bg_grisos{
	background-color: #575954;
	min-height: 49vw;
}
.bg_griscla{
	background-color: #F5F5F5;
}
.inputs_forms {
	border: 1px solid #1C1C1B;
	border-radius: 0;
	height: 30px;
	margin-bottom: 15px;
	padding: 5px;
}
label.txt_grisos {
	font-weight: 400;
}
.super_tit {
	font-size: 48px;
	line-height: 1em;
}
.txt_18 {
	font-size: 18px;
}
.txt_16 {
	font-size: 16px;
}
.inputs_contacto {
	background-color: #E1E1E1;
	border: none;
	border-radius: 0;
	margin-bottom: 15px;
	height: 30px;
	padding: 5px;
}
.btn_verde {
	background-color: #6DB52E;
	border: none;
	border-radius: 0;
	color: #fff;
	font-size: 12px;
	font-weight: 400;
	padding: 10px 20px;
	text-align: center;
	text-transform: uppercase;
}
.btn_verde:hover, .btn_verde:focus{
	color: #f2f2f2;
	text-decoration: none;
}
label.txt_grisos{
	font-size: 12px;
}
.btn_blanco{
	background-color: transparent;
	border: 2px solid #fff;
	border-radius: 0;
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
}
.btn_blanco:hover, .btn_blanco:focus{
	color: #f2f2f2;
	text-decoration: none;
}
.tit_blanco {
	background-color: transparent;
	border: 2px solid #fff;
	border-radius: 0;
	color: #fff;
	font-weight: 700;
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
}
.tit_blanco:hover, .tit_blanco:focus{
	color: #FCFCFC;
	text-decoration: none;
}
.form-group {
	margin-bottom: 10px !important;
}
.btn_grisos{
	background-color: #434040;
	border: none;
	border-radius: 0;
	color: #fff;
	font-size: 16px;
	padding: 10px 15px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}
.btn_grisos:hover,.btn_grisos:focus{
	color: #f2f2f2;
}
.thumb_producto{
	background-image: url('img/img_prods.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #9A989F;
    height: 75px;
    margin-bottom: 10px;
}
.borde_blanco{
	border: 3px solid #fff;
}
.border_areas{
	border: 1px solid #D7DCD0;
}
.border_gris{
	border: 1px solid #C1BFBE;
}
.bg_blanco{
	background-color: #fff;
}
#contacto-ini{
	background-color: #575954;
	padding-top: 3%;
}


/* Header Smaller */

header img {
	width: 140px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.5s;
	transition-timing-function: ease-in-out;
}
header.smaller img, header.static img {
	margin: -8px 0px 0 5px;
	width: 65px;
}
header {
	height: 190px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.7s;
	transition-timing-function: ease-in-out;
}
header.smaller, header.static {
	background-color: #f5f5f5 !important;
	height: 100px;
	position: fixed;
	width: 100%;
	z-index: 999;
}
header.smaller a.navbar-brand{
	padding: 7px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.5s;
	transition-timing-function: ease-in-out;
}
header a.navbar-brand{
	padding: 10px;
}
header nav ul.navbar-nav{
	top: 95px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.5s;
	transition-timing-function: ease-in-out;
}
header.smaller > nav > ul.navbar-nav{
	/*border: 1px solid #D7DCD0;*/
	top: 30px;
}
.nav-top > li > a {
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
header.smaller nav > ul.navbar-nav > li > a {
	color: #575954;
	border-color: #fff;
}
/* Fin de Header Smaller */

.navbar-toggle {
	border: 2px solid #fff;
	border-radius: 45px;
	float: left;
	margin-right: 0;
	padding: 15px 10px;
}
.navbar-toggle .icon-bar{
	background-color: #fff;
}


/* Clases móviles */
@media screen and (max-width: 768px) {
	h1 {
		font-size: 1.5rem !important;
	}
	h2 {
		font-size: 1.4rem !important;
	}
	h3 {
		font-size: 1.3rem !important;
	}
	h4 {
		font-size: 1.2rem !important;
	}
	h5 {
		font-size: 1.1rem !important;
	}
	p {
		font-size: 1rem !important;
	}
	.cel_nopad {
		padding: 0 !important;
	}
	.cel_pad {
		padding: 10px !important;
	}
	.cel_pad_v {
		padding: 10px 0 !important;
	}
	.cel_pad_h {
		padding: 0 10px !important;
	}
	.cel_minipad {
		padding: 3px !important;
	}
	.cel_nomargin {
		margin: 0 !important;
	}
	.cel_margin_all{
		margin: 10px !important;
	}
	.cel_tit_center {
		text-align: center !important;
	}
	.cel_margin_v {
		margin: 10px 0 !important;
	}
	.cel_margin_h {
		margin: 0 10px !important;
	}
	.cel_margin_5_top{
		margin-top: 5% !important;
	}
	.cel_super_margin {
		margin: 25px 0;
	}
	.navbar-toggle {
		border: 2px solid #575954;
		border-radius: 45px;
		margin-right: 0;
		padding: 15px 10px;
	}
	.navbar-toggle .icon-bar {
		background-color: #575954;
	}
	.nav-top > li > a {
		border-bottom: 1px solid #fff;
		color: #575954;
		font-size: 18px;
		text-align: right;
	}
	.dropdown-menu > li > a {
		font-size: 16px;
		text-align: right;
	}
	.carousel-caption {
		bottom: 0% !important;
	}
	.carousel-indicators {
		display: none !important;
	}
	.carousel-control .glyphicon-menu-right, .carousel-control .glyphicon-menu-left {
		font-size: 25px;
		top: 25%;
	}
	.navbar-brand{
		float: right;
	}
	#top{
		background-color: #f5f5f5;
	}
	header{
		height: 70px;
	}
	header img{
		width: 55px;
	}
	header.smaller img, header.static img{
		width: 55px;
	}
	header.smaller, header.static{
		height: 70px;
	}
	header nav ul.navbar-nav{
		border: none !important;
		top: 70px !important;
	}
	.navbar-nav>li {
	    float: left;
	    display: inline-block;
	    width: 100%;
	    text-align: left;
	}
	.navbar-nav{
		background-color: #f5f5f5;
		left: 0;
		width: 100%;
	}
	.collapsing{
		left: 0 !important;
		margin-top: -70px !important;
		position:absolute !important;
		width: 100%;
		height:0;
		overflow:hidden;
	}
	.margin_pages {
	    margin-top: 70px;
	}
	h3.tit_cel{
		font-size: 1.1rem !important;
	}
	h4.tit_cel{
		font-size: 1rem !important;
	}
	.btn_blanco{
		font-size: 12px;
	}
	.img_servicio{
		min-height: 27vw;
	}
	.bg_grisos {
	    background-color: rgba(67,64,64,0.8);
	    height: auto;
	}
	#servicio > div > p.txt_blanco {
	    height: 200px;
	}
	#init, #productos, #contacto{
		margin-top: 70px;
	}
	.head_productos {
	    background-position: top center;
	    background-repeat: no-repeat;
	    background-size: cover;
	}
	#productos > div > div > h1.tit_grisos, #contacto > div > div > h1.tit_grisos{
		margin-top: 10%;
	}
	.line_down{
		height: 1px;
	}
}

/* Fin de Clases Móviles */

